

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="text-center">Quotes</h1>
            <table class="table mt-4">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">QUOTE</th>
                    <th scope="col">AUTHOR</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of quote.quotes">
                    <th>{{i.id}}</th>
                    <td>{{i.quote}}</td>
                    <td>{{i.author}}</td>
                    
                  
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

